{% set testadminuser = {
    "firstname" : "David",
    "lastname" : "Davidson",
    "role" : "admin",
    "isConnected" : true
} %}

{% set testnormaluser = {
    "firstname" : "User",
    "lastname" : "Userson",
    "role" : "user",
    "isConnected" : false
} %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{path("app_home")}}"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{path("app_article")}}"><i class="fa-sharp fa-solid fa-book"></i>
                        Articles</a>
                </li>   
                {% if testnormaluser.isConnected or testadminuser.isConnected %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false"><i class="fa-sharp fa-solid fa-user"></i>

                        {% if testnormaluser.isConnected %}
                            {{testnormaluser.firstname}} {{testnormaluser.lastname}}
                        {% elseif testadminuser.isConnected %}
                            {{testadminuser.firstname}} {{testadminuser.lastname}}
                        {% endif %}
                        
                    
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Profil</a>
                        <a class="dropdown-item" href="#">Mes articles</a>
                        {% if testadminuser.isConnected %}
                        <div class="dropdown-divider"></div>
                        
                            <a class="dropdown-item" href="#">Espace admin</a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out </a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-sharp fa-solid fa-user"></i> Login/Signup</a>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>