{% extends 'partials/base.html.twig' %}

{% block title %}{{category.categorytitle}}{% endblock %}

{% block body %}
    <h1 class="mt-3">Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Categorytitle</th>
                <td>{{ category.categorytitle }}</td>
            </tr>
            <tr>
                <th>Categorydescription</th>
                <td>{{ category.categorydescription }}</td>
            </tr>
            <tr>
                <th>Idsarticles</th>
                <td>{{ category.idsarticles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_category_index') }}" class="btn btn-success rounded">Retour à la liste</a>

    <a href="{{ path('app_category_edit', {'id': category.id}) }}" class="btn btn-warning rounded">Modifier</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
