{% extends 'partials/base.html.twig' %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
<h1>{{article.title}}</h1><br/>

<p>{{article.intro}}</p>
<img height="250px" width="250px" class="mx-auto rounded-circle border border-success m-2" src="{{article.image}}" alt="Card image">

{{article.content | raw}}

<p>Créé le : {{article.createdAt | date("d/m/Y à H:i ")}}</p>
{% endblock %}