{% extends 'partials/base.html.twig' %}
{% set testadminuser = {
    "firstname" : "Admin",
    "lastname" : "Adminsson",
    "role" : "admin",
    "isConnected" : true
} %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
<h1 class="mt-4">{{article.title}}</h1><br/>

<p>{{article.intro}}</p>
<img height="300px" width="300px" class="mx-auto border border-success" src="{{article.image}}" alt="Card image">

{{article.content | raw}}

<p>Créé le : {{article.createdAt | date("d/m/Y à H:i ")}}</p>
{% if testadminuser.isConnected and testadminuser.role == "admin" %}
    <a href="{{path("articles_edit",{id:article.id})}}" class="btn btn-primary rounded">Modifier</a>
{% endif %}
{% endblock %}